<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Sample</display-name>
    <servlet-name>Sample</servlet-name>
    <servlet-class>com.billrepository.controllers.Sample</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sample</servlet-name>
    <url-pattern>/Sample</url-pattern>
  </servlet-mapping>
  <display-name>BillRepositorySystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/RegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDistributorServlet</display-name>
    <servlet-name>AddDistributorServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.AddDistributorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDistributorServlet</servlet-name>
    <url-pattern>/AddDistributorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyDealerServlet</display-name>
    <servlet-name>VerifyDealerServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.VerifyDealerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyDealerServlet</servlet-name>
    <url-pattern>/VerifyDealerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AssignNewBillServlet</display-name>
    <servlet-name>AssignNewBillServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.AssignNewBillServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AssignNewBillServlet</servlet-name>
    <url-pattern>/AssignNewBillServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillsServlet</display-name>
    <servlet-name>BillsServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.BillsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillsServlet</servlet-name>
    <url-pattern>/BillsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadBillPDFServlet</display-name>
    <servlet-name>DownloadBillPDFServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.DownloadBillPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadBillPDFServlet</servlet-name>
    <url-pattern>/DownloadBillPDFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddPaidReceiptPDFServlet</display-name>
    <servlet-name>AddPaidReceiptPDFServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.AddPaidReceiptPDFServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPaidReceiptPDFServlet</servlet-name>
    <url-pattern>/AddPaidReceiptPDFServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillsAccordingToStatusServlet</display-name>
    <servlet-name>BillsAccordingToStatusServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.BillsAccordingToStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillsAccordingToStatusServlet</servlet-name>
    <url-pattern>/BillsAccordingToStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadPaidReceiptServlet</display-name>
    <servlet-name>DownloadPaidReceiptServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.DownloadPaidReceiptServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadPaidReceiptServlet</servlet-name>
    <url-pattern>/DownloadPaidReceiptServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillsAccordingToSortingServlet</display-name>
    <servlet-name>BillsAccordingToSortingServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.BillsAccordingToSortingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillsAccordingToSortingServlet</servlet-name>
    <url-pattern>/BillsAccordingToSortingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillsAccordingToDistributor</display-name>
    <servlet-name>BillsAccordingToDistributor</servlet-name>
    <servlet-class>com.billrepository.controllers.BillsAccordingToDistributor</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillsAccordingToDistributor</servlet-name>
    <url-pattern>/BillsAccordingToDistributor</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DealerBillsServlet</display-name>
    <servlet-name>DealerBillsServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.DealerBillsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DealerBillsServlet</servlet-name>
    <url-pattern>/DealerBillsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtpGeneratorServlet</display-name>
    <servlet-name>OtpGeneratorServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.OtpGeneratorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtpGeneratorServlet</servlet-name>
    <url-pattern>/OtpGeneratorServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OtpVerifierServlet</display-name>
    <servlet-name>OtpVerifierServlet</servlet-name>
    <servlet-class>com.billrepository.controllers.OtpVerifierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OtpVerifierServlet</servlet-name>
    <url-pattern>/OtpVerifierServlet</url-pattern>
  </servlet-mapping>
</web-app>